    <!--いいね機能-->
      <% if post.favorited_by?(current_user) %>
        <p>
          <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
            ♥<%= post.favorites.count %>
          <% end %>美味しそう！
        </p>
        <% else %>
        <p>
          <%= link_to post_favorites_path(post), method: :post, remote: true do %>
            ♡<%= post.favorites.count %>
          <% end %>美味しそう！
        </p>
      <% end %>
