<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="pt-2">
  <p><%= link_to user_path(notification.visiter) do %>
    <%= attachment_image_tag visiter, :profile_image, :fill,100,100, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %>
  <% end %>
  <%= notification_form(notification) %><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></p>
</div>