<h4 class="text-center">〜 <i class="fas fa-heart text-danger"></i>︎とフォローの通知 〜</h4>
  <div class="notification">
    <% if @notifications.exists? %>
      <p class="p-4">
        <%= render @notifications %>
      </p>
    <% else %>
      <div>通知はありません</div>
    <% end %>
    <%= link_to user_notifications_path, method: :delete do %>
      <i class="fas fa-trash" style="color: black;"></i>
      <h7 style="color: black;">全削除</h7>
    <% end %>
  </div>