<% if page.current? %>
  <li class="page-item active p-1">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'btn page-link rounded-pill' %>
  </li>
<% else %>
  <li class="page-item p-1">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'btn page-link rounded-pill' %>
  </li>
<% end %>
