// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-1 {
  border-radius: 20px;
}

.img_side {
  border: 1px solid #ddd;
  width: 230px;
  height: 160px;
  margin: 0 auto;
  overflow: hidden;
}
.img_side img {
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.img_side:hover img {
  opacity: 0.6;
  transition-duration: 0.3s;
}